body {
  line-height: 1.8;
  font-family: "Sue Ellen Francisco", Arial, sans-serif;
  font-size: 18px;
}

#wrapper {
  width: 700px;
  background-color: white;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  color: #333333;
}

h2 {
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  border-bottom: 2px dotted #9CE6C1;
}

input, button {
  font-family: monospace;
  font-size: 20px;
  border: 1px solid #9CE6C1;
  box-shadow: none;
  padding: 10px;
}

input + input {
  margin-left: 20px;
}

button {
  width: 180px;
  float: right;
}

#name {
  width: 280px;
  float: left;
}

#grade {
  width: 100px;
  float: left;
}

ul {
  clear: both;
  font-size: 24px;  
}

nav a {
  width: 50%;
  float: left;
  padding: 20px 0;
  background-color: #eeeeee;
  text-align: center;
  outline: 2px solid #ffffff;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  background-color: #f1f1f1;
}

nav a.selected {
  background-color: #ffffff;
}

div {
  display: none;
  padding: 20px 0;
  clear: both;
}